NEXT_PUBLIC_SUPABASE_URL=https://bddrujjbdqbbdonddnpj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkZHJ1ampiZHFiYmRvbmRkbnBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI0MTc5NDgsImV4cCI6MjA3Nzk5Mzk0OH0.Vviyy33BQ6OnoUFGt-mRQTr626nx9pWv34X6b11IUEo